*{
    font-family: sans-serif;
}

hr{
    border:1px solid #ccc;
}

body{
    background-image:url("./assets/jollibee-bg.webp");
    background-size: cover;
    margin:0;
    padding:0;
}

.main-container{
    /* background-color:#0808086b; */
    height:100%;
}

.main-container > *{
    /* border: 1px solid gray; */
    padding:20px;
    /* width:100%; */
}


.menu{
    padding:10px;
    background:#00000059;
}

.menu h3{
    color:#fff;
}

#menulist{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    background: #00000056;
    padding:15px;
    /* border:1px solid; */
}

.menu #menulist span{
    letter-spacing:3px;
    font-weight:bold;
    font-size: larger;
    color:#fff;
}

.entry{
    background:#00000070;
    padding:15px;
}

.entry-holder{
    display:grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid; */
}

.entry-holder > *{
    margin:4px 2px 4px 2px;
}

.label{
    border: 1px solid #ccc;
    background: #00000041;
    display: flex;
    justify-content:center;
    align-items: center;
    color:#fff;
}

.input-holder{
    display: flex;
    /* border: 1px solid; */
    width:100%;
}
.input-holder > input{
    width: 100%;
    font-size:18px;
    padding:10px;
    background:#b6b6b670;
    border:none;
    color:#fff;
}
.input-holder > * {
    margin: 2px;
}

.qnt{
    padding:4px;
    width:5%;
    border: 1px solid gray;
}

.input-holder  button{
    font-weight: bolder;
    padding:10px 20px 10px 20px;
    /* background: #0000008e; */
    color:#fff;
    font-size:18px;
    border:none;
    transition:.3s ease-out 60ms;
}

.input-holder  button:nth-child(2){
    background: #00c95a;
    background: #00c95a94;
}
.input-holder  button:nth-child(2):hover{
    background: #00c95a;
}


.input-holder  button:nth-child(3){
    background: red;
    background: #ff00009a;
}
.input-holder  button:nth-child(3):hover{
    background: red
}



.container2 > #display-area{
    /* border: 1px solid; */
    padding:10px;
    font-weight: bold;
    color:#ffffff;
    background:#00000073;
}

.payment-area{
    background: #00000070;
    padding:10px;
}

.payment-area > *{
    font-size: 20px;
    margin:5px;
    font-weight: bold;
    color:#fff;
}

#balance{
    padding:5px;
    width:60%;
    background:#b6b6b670;
    border:none;
    padding:10px;
}

#clear-btn{
    font-size:20px;
    padding: 10px 20px 10px 20px;
    background: #ff00009a;
    border:none;
    color:#fff;
}
#clear-btn:hover{
    background: red;
}

@media screen and (min-width:1000px) {
    .main-container{
        display: flex;
        /* border: 1px solid gray; */
    }

    .entry{
        width:85%;
    }

    .main-container > *{
        width:100%;
    }
}